<!DOCTYPE html>

<footer> 
  <div>
    <em>web140 Web Development Tools</em>.
     <br>Created by &copy;<a href="https://github.com/gsrockwell910" target="_blank">gsrockwell910</a>
  </div>
  <div>
     <br><a href="https://github.com/gsrockwell910" target="_blank">GitHub</a>
     <a href="https://gsrockwell910.github.io/" target="_blank">GitHub.io</a>
     <a href="https://gsrockwell910.github.io/web140/" target="_blank">web140.io</a>
     <a href="http://www.linkedin.com/in/gsrockwell910/" target="_blank">LinkedIn</a>
     <a href="https://jsfiddle.net/gsrockwell910/de3wLr49/" target="_blank">JSFiddle</a>
     <a href="https://www.codecademy.com/profiles/GSRockwell910" target="_blank">Codecademy</a>
     <a href="https://www.freecodecamp.org/GSRockwell910" target="_blank">freeCodeCamp</a>
  </div>
</footer>