/* Target first child div of container div in main */
main div > div:first-of-type {
  color: #F0E3C7;
  background-color: #2D6A4F;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

main div > div > p {
  padding: 0px;
  margin: 0px;
  background-color: #2D6A4F;
  color: #F0E3C7;
  margin-bottom: 10px;
}

main div > div > p a:first-of-type {
  color: #D67D3D;
}

main div > div > p a:hover {
  color: #F0E3C7;
  text-decoration: underline;
}

main div + div {
  display: flex;
  align-items: center;
  justify-content: center;
}