/* styles/default.css */

/* Color Scheme */
:root {
  --primary-color1: #9E9D80;
  --primary-color2: #BF7F5A;
  --primary-color3: #F8F4F1;
  --primary-color4: #1F2A38;

  --secondary-color1: #582630;
  --secondary-color2: #FFD400;
}

/* Basic reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* General body styling */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color3); /* Lighter background for better contrast */
  color: var(--primary-color4); /* Darker text color for higher contrast */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

[data-include]{
  min-height: 100px;
}

/* Header styling */
header {
  background-color: var(--primary-color1); /* Slightly darker background for better contrast */
  color: var(--primary-color4); /* Darker text color */
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for better visibility */
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: 300;
}

/* Link styles */

/* Default state of links */
a {
  color: var(--primary-color4); /* Darker link color for better visibility */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
  text-decoration: none;
}

/* Hover state of links */
a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Visited state of links */
a:visited {
  color: var(--primary-color3);
}

/* Active state of links (when clicked) */
a:active {
  text-decoration: underline; 
}

/* Navigation styling */
nav {
  background-color: var(--primary-color4); /* Darker background color */
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 15px 25px;
  color: var(--primary-color3); /* Lighter text color for better contrast */
  text-decoration: none;
  font-size: 1.2em;
  background-color: var(--primary-color4); /* More vibrant background color for nav items  #5B9BD5*/
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: var(--primary-color2); /* More contrasting hover background color */
  color: var(--primary-color3); /* Lighter text color on hover */
  text-decoration: underline;
}

/* Navigation link active state */
nav ul li a:active {
  color: var(--primary-color1); /* Darker color when clicked */
}

main {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex: 1;
  height: 100%; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.1em; 
  line-height: 1.2em; 
  color: var(--primary-color3); /* Lighter text color */
  border-radius: 10px;
  padding: 20px;
  max-width: 55vw; 
  background-color: var(--primary-color4); /* Darker background color for better contrast */
}

/* Footer styling */
footer {
  background: var(--primary-color1); /* Slightly darker background color */
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Pushes the footer to the bottom */
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

/* Footer link styles */
footer div a:first-of-type {
  color: var(--primary-color4); /* Lighter text color */
}

footer div a:first-of-type:visited {
  color: var(--secondary-color1); /* Darker color for visited footer links */
}

footer div:nth-of-type(2) a {
  color: var(--primary-color4); /* Lighter text color */
  border-left: 2px solid var(--primary-color4);; /* More contrasting border color */
  border-right: 2px solid var(--primary-color4); /* More contrasting border color */
  padding: 0px 5px;
  display: inline-block;
  max-width: 100%;
}

footer div:nth-of-type(2) a:visited {
  color: var(--secondary-color1); 
}