/* styles/default.css */

/* Basic reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* General body styling */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F4F1; /* Lighter background for better contrast */
  color: #1F2A38; /* Darker text color for higher contrast */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */
header {
  background-color: #9E9D80; /* Slightly darker background for better contrast */
  color: #1F2A38; /* Darker text color */
  text-align: center;
  padding: 25px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for better visibility */
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: 300;
}

/* Link styles */

/* Default state of links */
a {
  color: #1F2A38; /* Darker link color for better visibility */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
  text-decoration: none;
}

/* Hover state of links */
a:hover {
  text-decoration: underline; /* Underline on hover */
  color: #004E6F; /* Darker blue on hover for better contrast */
}

/* Visited state of links */
a:visited {
  color: #F8F4F1; 
}

/* Active state of links (when clicked) */
a:active {
  color: #113537; /* Darker color when clicked */
  text-decoration: underline; 
}

/* Navigation styling */
nav {
  background-color: #1F2A38; /* Darker background color */
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 15px 25px;
  color: #F8F4F1; /* Lighter text color for better contrast */
  text-decoration: none;
  font-size: 1.2em;
  background-color: #1F2A38; /* More vibrant background color for nav items  #5B9BD5*/
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #BF7F5A; /* More contrasting hover background color */
  color: #F8F4F1; /* Lighter text color on hover */
  text-decoration: underline;
}

/* Navigation link active state */
nav ul li a:active {
  color: #9E9D80; /* Darker color when clicked */
}

main {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex: 1;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

p {
  font-size: 1.1em; 
  line-height: 1.2em; 
  color: #F8F4F1; /* Lighter text color */
  border-radius: 10px;
  padding: 20px;
  max-width: 55vw; 
  background-color: #1F2A38; /* Darker background color for better contrast */
}

/* Footer styling */
footer {
  background: #9E9D80; /* Slightly darker background color */
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Pushes the footer to the bottom */
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

/* Footer link styles */
footer div a:first-of-type {
  color: #1F2A38; /* Lighter text color */
}

footer div a:first-of-type:visited {
  color: #582630; /* Darker color for visited footer links */
}

footer div:nth-of-type(2) a {
  color: #1F2A38; /* Lighter text color */
  border-left: 2px solid #1F2A38; /* More contrasting border color */
  border-right: 2px solid #1F2A38; /* More contrasting border color */
  padding: 0px 5px;
  display: inline-block;
  max-width: 100%;
}

footer div:nth-of-type(2) a:visited {
  color: #582630; 
}